<h2>Simple Forms</h2>

<div class="row">

    <!--Form-->
    <div class="col">
        <div class="card">
            <div class="card-header">Forms</div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" ngModel class="form-control" placeholder="Enter Name">
                    </div>


                    <div class="form-group">
                        <label class="d-block">Gender</label>

                        <input type="radio" name="gender" ngModel id="Male" value="Male"
                            class="form-check form-check-inline">
                        <label class="form-check-label">Male</label>

                        <input type="radio" name="gender" ngModel id="FeMale" value="FeMale"
                            class="form-check form-check-inline mr-2">
                        <label class="form-check-label">FeMale</label>
                    </div>




                    <!-- <div class="form-group">
                        <label class="d-block">Type Of Student</label>

                        <input type="checkbox" name="typeOfStudent" ngModel id="New" value="New"
                            class="form-check form-check-inline">
                        <label class="form-check-label">New</label>

                        <input type="checkbox" name="typeOfStudent" ngModel id="Old" value="Old"
                            class="form-check form-check-inline mr-2">
                        <label class="form-check-label">Old</label>
                    </div> -->

                    <div class="form-group">
                        <label>Type Of Student</label>
                        <div class="form-check">
                            <input type="checkbox" name="newStudent" ngModel id="type" class="form-check-input">
                            <label class="form-check-label">{{form.value.newStudent ? 'New' : 'Old'}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Courses</label>
                        <select name="course" ngModel class="form-control">
                            <option value="Typscript">Typscript</option>
                            <option value="JavaScrip">JavaScript</option>
                            <option value="Angular">Angular</option>
                            <option value="Spring">Spring</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label class="d-block">Interests</label>
                        <div *ngFor="let item of intersts" class="form-check form-check-inline">
                            <input type="checkbox" [name]="item" ngModel [id]="item" class="form-check-input">
                            <label for="" class="item form-check-label">{{item}}</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" ngModel placeholder="Enter Email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input name="phone" ngModel placeholder="Enter Phone" class="form-control">
                    </div>
                </form>
            </div>

        </div>
    </div>



    <!--Forms Of Value-->
    <div class="col">
        <div class="card">
            <div class="card-header">Forms Of Value</div>
            <div class="card-body">
                <pre>{{form.value | json}}</pre>
            </div>
        </div>
    </div>
</div>