<h2>Properties Binding</h2>

<div class="card mb-4">
    <div class="card-header">Dom Property</div>
    <div class="card-body">
        <button (click)="switchBtnState()" class="btn btn-primary mr-2">{{hideBtn ? 'ClickMe' : 'Show'}}</button>
        <button [hidden]="hideBtn" class="btn btn-danger">Target</button>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">Component Property</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="input-group">
                    <input #inputKeyword type="text" class="form-control">
                    <div class="input-group-append">
                        <span (click)="getInputKeyword(inputKeyword)" class="input-group-text">Add</span>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <app-prop-child-binding [inputKeyword]="parentKeyword"></app-prop-child-binding>
            </div>
        </div>
    </div>
</div>



<div class="card mb-4">
    <div class="card-header">Directive Property</div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <select #colorSelect (change)="backGround=colorSelect.value" class="form-control">
                    <option value="yellow" class="value">Yellow</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="pink">Pink</option>
                    <option value="violet">Violet</option>
                    <option value="white">White</option>
                </select>
            </div>

            <!--Not Working-->
            <div [appBackgroudColour]="backGround" class="col-8 bordered"></div>





        </div>
    </div>
</div>